.border-left-red{ 
    border-left: 5px solid #dc3545!important;
}
.border-left-green{ 
    border-left: 5px solid #28a745 !important;
}
.border-left-yellow{ 
    border-left: 5px solid #ffc107 !important;
}